.highlights {
    /* Container für ein Highlight */
    /* groeße und Abstand */
    height: 600px;
    
    /* Center innere Box */
     /* Center Source: "https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/" */
     display: grid;
     grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
     grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
     
}

.highlightName {
    /* Name der Person unter dem Foto */
    margin-top: 5px;
    text-align: center;
    float:bottom;

    /* Schrift Name */
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
}

.dynamicHighlight {
    /* Container um die drei unter Container zu Ordnen --> Profile, Nachricht und Buttons */
    /* CSS Bordersource: "https://www.w3schools.com/css/css_border.asp" 
    border: 2px solid black; */
    /* groeße und Position */
    height: 300px;
    width: 1000px;

    display: flex;

    /* Rahmen um highlight */
    border: 1px solid black;
    border-radius: 20%;

    /* Position im grid */
    grid-row-start: 4;
    grid-row-end:9;
    grid-column-start: 5;
    grid-column-end: 24;
}

.highlightProfilePic {  
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 20px;
    float:left;
}

.highlightTitle {
    /* Überschrift */

    /* Groeße */
    width: 100%;
    /* Position & Abstand */
    text-align: center;
    margin-right: 15px;
    /* Schrift */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;

}

.highlightShortDescription {
    /* Container beinhaltet alles für die Kurzbeschreibung */

    /* Schrift */
    font-family:'Lucida Sans';
    /* Position & Abstand */
    text-align: left;
    margin-right: 15px;
    /* groeße */
    width: 750px;
    height: 130px;
}

.highlightMessage {
        /* Groeße */
        width: 100%;

        /**/
}

.highlightButtons {
    /* Container für Buttons */
    /* groeße */
    width: 100%;
    display: grid;
    grid-template-columns: 260px 100px 100px 100px 100px 100px;
    grid-template-rows: 18px 18px;
}

.highlightButton {
        /* Design für ein Button */
        width: 80px;
        height: 20px;
        background-color: #B5DFFF;
        /* Border */
        border: 1px groove black;
        border-radius: 10px;
        border-color: #B5DFFF;

        /* Text */
        text-align: center;
    
}

.highlightButton1 {
    /* Postion in Grid */
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 5;
}

.highlightButton2 {
    /* Postion in Grid */
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 6;

}