/* Alle Style optionen um sämtliche Navigationen zu Designen */
/* Allgemeine Navigations */
.navi{
    background-color: #74c4ff; 
    display: flex;
    position: fixed;
}

.navi ul{
    list-style-type: none;
    width: 100%;
    /* Damit die Liste keinen Abstand hat */
    margin: 0;
    padding: 0;
}

.navi li{
   float: left;
}

.navi a{
    display: block;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #5693BF;
    border-right: 0px;
}

.navi a:hover{
    background-color: #5693BF;
    color: white;
}






/* Navigation Angebotsübersicht */
.erweitertes_Such_Navi{
    /* Größe */
    width: 20%; 
    height: auto;

    /* Design */
    background-color: #74c4ff
}

.erweitertes_Such_Navi ul{
    list-style-type: none;

    /* Damit die Liste keinen Abstand hat */
    margin: 0;
    padding: 0;
}

.erweitertes_Such_Navi a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}

.erweitertes_Such_Navi a:hover{
    background-color: #5693BF;
    color: white;
}