.offersSmall{
    /* Container für einzelne kleine Angebote */

    /* groeße */
    width: 175px;
    height: 175px;
    border: 2px solid black;

    /* Ordnung */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:80% 20%;


    /* Abstände */
    margin: 20px;
}

.offerDescripton {
    /* Container für eine kleine beschreibung */

    /* Schrift */
    text-align: left;
    font-size: medium;
    font: 'Times New Roman', Times, serif;
    /* Position */
    margin: 5px;    
}

.offerKategorie {
    /* Containter für die Kategorie als Titel */

    /* Schrift */
    text-align: center;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    /*text-shadow: 4px -2px 4px #777;*/
    /* Position */
    margin-top: 10px;

    /*
        Quelle text Shadow: https://www.mediaevent.de/css/text-shadow.html#:~:text=text%2Dshadow%20setzt%20einen%20harten,Effekt%20f%C3%BCr%20Ebenen%20in%20Photoshop.
    */
}

.offerFrom {
    /* Container für den Angebots ersteller */

    /* Schrift */
    text-align: right;
    font-family:'Gill Sans';
    /* Postition */
    margin: 5px;
}