/* Stylesheet für die Registrierung */
.RegisterContainerMain {
    width: 100%;
    text-align: center;
    background-image: url("hintergrund/Registrierung.jpg");
    background-repeat: no-repeat;
   
   
}

.RegisterContainerMain legend{
    width: 99%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ContainerRubrik input {
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.ContainerRubrik label{
    text-align: left;
    margin-left: 20px;
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
}

.RegisterContainerMain .ContainerRubrik {
    background-color: #dcf0ff;
    border-radius: 25px;
    min-width: 310px;
    width: 75%;
    max-width: 700px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Es in in der mitte zentrieren*/
    margin-left: auto;
    margin-right: auto;

    /* 3d effekt für Rubrik-boxen */
    border: 0.5px solid #6E7880;
    box-shadow: 9px 10px 15px #6E7880;
}
/* Buttons Formular */
.RegisterContainerMain .ContainerButtons{
    margin-right:auto;
    margin-left: auto;
    border: 0px solid black;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

.ContainerButtons .allgemeinesDesign{
    font-size: 13.3333px;
    border:1px solid #6E7880;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    margin:auto;
    font-family: Arial;
    background-color: #efefef;
    box-shadow: 9px 6px 15px #6E7880;
}

.ContainerButtons .buttonDesign{

    /* Position im grid*/
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start:  1;
    grid-column-end:  1;
}

.RegisterContainerMain .zurueckButton{
    /* Position im grid*/
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start:  2;
    grid-column-end:  2;   
}

/* Smartphone */
@media(max-width: 601px) {
    .RegisterContainerMain{
        background-size: 120%;
        background-position: 10% 147%;
       
    }
    .ContainerRubrik label{
        width: 40%;
        
    }
    .ContainerRubrik input{
        width: 45%;
    }

    #RegisterContainerMain .ContainerButtons{
        width: 300px;
        height: 60px;
    }

    .ContainerButtons .zurueckButton{
        width: 100px;
        height: 30px;
    }

    .ContainerButtons .buttonDesign{
        width: 102px;
        height: 32px;
    }
    
}

/* Laptop etc */
@media(min-width:601px){
    .RegisterContainerMain{
        background-size: 50%;
        background-position: right bottom;
    }

    .ContainerRubrik legend{
        font-size: 1.3em;
    }
    .ContainerRubrik label{
        font-size: 1.3em;
        width: 30%;
    }

    .ContainerRubrik input{
        height:20px;
        width: 60%;
    }
    /* Buttons */
    .RegisterContainerMain .ContainerButtons{
        width: 400px;
        height: 60px;
    }

    .ContainerButtons .zurueckButton{
        width: 125px;
        height: 30px;
    }

    .ContainerButtons .buttonDesign{
        width: 127px;
        height: 32px;
    }
}