/* Allgemeine Seitenoptionen */
body {
    background-color: #dcf0ff;
}

.footer{
    text-align: center;
    
}

.footer a{
    text-decoration: none;
    color: black;
}

/* Neueste Nachricht */

/* Allgemeine Navigations */
.navi{
    width: 100%;
    background-color: #74c4ff; 
    display: flex;
    position: sticky;
    top: 0;
    min-height: 30px;
}

.navi ul{
    list-style-type: none;
    width: 100%;
    /* Damit die Liste keinen Abstand hat */
    margin: 0;
    padding: 0;
}

.navi li{
    float: left;
 }
 
 .navi a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #5693BF;
    border-right: 0px;
 }

.navi a:hover{
    background-color: #5693BF;
    color: white;
}

/*  */
.needAName {
    height: 45px;
    width: 100%;
    background-color: #74c4ff; 
    align-content: center;
    align-items: center;
    display: flex;

}

.needAName .suche {
    margin: auto;
}

.needAName .suche .suchEingabe {
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border-style: none;

}

/* Design Box Angebotsübersicht */
.Container_kleine_Angebote{
    /* Größe */
    width: 100%; 
    height: auto;
    border: 2px solid #A4B4BF;
    
    /* Ausgabe */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-auto-rows: 190px;
}

.Container_kleine_Angebote div{
    /* Größe und äußeres Design */
    width: 175px; 
    height: 175px; 
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 9px 8px 6px #A4B4BF;
    /* Design innen */
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    
}

.Container_kleine_Angebote .ueberschrift{
    width: 100%;
    text-align: center;

    /*Position im grid*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.Container_kleine_Angebote .beschreibung{
    width: 100%;
    height:100%;
    text-align: left;
    margin:0;

    /*Position im grid*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.Container_kleine_Angebote .autor{
    width: 100%;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.0em;
   

    /*Position im grid*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}





/* Kleine geräte Smartphone */
@media(max-width: 600px){
    /* Navigation Angebotsübersicht */
    .erweitertes_Such_Navi{
      display: none;
    }

    .desktop {
        display: none;
    }

   .dropdownMenuPoint {
        display: inline-block;
      }

    .dropTrigger {
        background-color: #74c4ff;
        color: black;
        border: 1px solid grey;
        height:100%;

      }
        
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #74c4ff;
      }
      /* Damit sich das menu ausklappt, verschwindet wieder sobald der Nutzer wo anders hinclickt */
    .dropdownMenuPoint:hover .dropdown-content {
        display: block;
    }
    
      
}



/* Tablet, Laptop etc */
@media(min-width: 601px){
    /* Seiten navigations */    
    .mobile {
        display: none;
    }
    
    /* Navigation Angebotsübersicht */
    .erweitertes_Such_Navi{
        /* Größe */
        width: 20%; 
        max-width: fit-content;
        height: auto;

        /* Design */
        background-color: #74c4ff;
    }

    .erweitertes_Such_Navi ul{
        list-style-type: none;

        /* Damit die Liste keinen Abstand hat */
        margin: 0;
        padding: 0;
    }

    .erweitertes_Such_Navi a{
        display: block;
        padding: 10px 5px;
        text-decoration: none;
    }

    .erweitertes_Such_Navi a:hover{
        background-color: #5693BF;
        color: white;
    }

    .needAName .suche .suchEingabe {
        width: 400px;
    
    }
}

