/* Allgemeine Seitenoptionen */
body{
    background-color: #dcf0ff;
}

#header{
    height: 150px;
    width: 100%;

    background-image: url("hintergrund/HeaderKlein.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0%;

}

.footer{
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: black;
}

/* Allgemeine Navigations */
nav{
    position: sticky;
    top: 0;
    background-color: #74c4ff; 
}

nav .navi{
    display: flex;
    min-height: 30px;
}

nav ul{
    list-style-type: none;
    width: 100%;
    /* Damit die Liste keinen Abstand hat */
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
 }
 
nav a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #5693BF;
    border-right: 0px;
 }

nav a:hover{
    background-color: #5693BF;
    color: white;
}
@media(min-width:800px) {
    #header{
        background-image: url("hintergrund/Header.jpg");
    }
}

@media(min-width:1700px){
    #header{
        background-image: url("hintergrund/HeaderGroß.jpg");
    }
}

@media(min-width: 601px){
    /* Seiten navigations */    
    nav .mobile {
        display: none;
    }
}
@media(max-width: 600px){
    /* Seitennavigation */

    nav .desktop {
        display: none;
    }
    nav .dropdownMenuPoint {
        display: inline-block;
    }

    nav .dropTrigger {
        background-color: #74c4ff;
        color: black;
        border: 1px solid grey;
        height:100%;
        width: 100%;

    }
    nav .size{
        width: 20%;
    }

    nav .right_Drop{
        right:0;
    }
        
    nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #74c4ff;
      }
      /* Damit sich das menu ausklappt, verschwindet wieder sobald der Nutzer wo anders hinclickt */
    nav .dropdownMenuPoint:hover .dropdown-content {
        display: block;
    }
     
}