/* Allgemeine Seitenoptionen */
body{
    background-color: #dcf0ff;
}

.footer{
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: black;
}

/* Neueste Nachricht */
.BereichNeuesteNachricht {
    width: 100%;
    display: flex; 
    align-items: center;
}

.BereichNeuesteNachricht .ContainerNeuesteNachricht{
   
    display: flex; 
    margin:auto; 
    /*border: 1px solid black;*/
    
    /* Schattierung */
    box-shadow: 9px 15px 50px #6E7880;
}

.BereichNeuesteNachricht .ContainerBildName{
    float:left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:10px;
    margin-right: 10px;
}

.BereichNeuesteNachricht h1{
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
}

.BereichNeuesteNachricht p{
    text-align: left;
    font-size: 1.1em;
    padding-bottom: 10px;
}

.BereichNeuesteNachricht .ContainerBildName p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

.BereichNeuesteNachricht .ContainerAngebotDetails{
    border-left: solid black 0.5px;
    margin: auto;
    padding-left: 5px;
}





/* Allgemeine Navigations */
nav{
    position: sticky;
    top: 0;
    background-color: #74c4ff; 
}

nav .navi{
    display: flex;
    min-height: 30px;
}

nav ul{
    list-style-type: none;
    width: 100%;
    /* Damit die Liste keinen Abstand hat */
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
 }
 
nav a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #5693BF;
    border-right: 0px;
 }

nav a:hover{
    background-color: #5693BF;
    color: white;
}

/*  */
.needAName {
    height: 45px;
    width: 100%;
    background-color: #74c4ff; 
    align-content: center;
    align-items: center;
    display: flex;

}

.needAName .suche {
    margin: auto;
}

.needAName .suche .suchEingabe {
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border-style: none;

}

/* Design Box Angebotsübersicht */
.Container_kleine_Angebote{
    /* Größe */
    width: 100%; 
    height: auto;
    border: 2px solid #A4B4BF;
    /* Ausgabe */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 2fr));
    grid-auto-rows: 190px;
}

.Container_kleine_Angebote div{
    /* Größe und äußeres Design */
    width: 175px; 
    height: 175px; 
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    box-shadow: 9px 8px 6px #A4B4BF;
    /* Design innen */
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    
}

.Container_kleine_Angebote .ueberschrift{
    width: 100%;
    text-align: center;

    /*Position im grid*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.Container_kleine_Angebote .beschreibung{
    width: 100%;
    height:100%;
    text-align: left;
    margin:0;

    /*Position im grid*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.Container_kleine_Angebote .autor{
    width: 100%;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.0em;
   

    /*Position im grid*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

.Container_Buttons{
    display: flex;
    height:fit-content;
    width: 100%;

    /* Border */
    border-left: 2px solid #A4B4BF;
    border-right: 2px solid #A4B4BF;
    border-bottom: 2px solid #A4B4BF;
}

.Container_kleineAngebote_und_Buttons{
    height:fit-content;
    width: 100%;
}


/* Kleine geräte Smartphone */
@media(max-width: 600px){
    /* Navigation Angebotsübersicht */
    .erweitertes_Such_Navi{
      display: none;
    }

    /* Seitennavigation */
    nav .desktop {
        display: none;
    }

    nav .dropdownMenuPoint {
        display: inline-block;
      }

    nav .dropTrigger {
        background-color: #74c4ff;
        color: black;
        border: 1px solid grey;
        height:100%;

      }
        
    nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #74c4ff;
      }
      /* Damit sich das menu ausklappt, verschwindet wieder sobald der Nutzer wo anders hinclickt */
    nav .dropdownMenuPoint:hover .dropdown-content {
        display: block;
    }
     
    /* Neueste Nachricht */

    .BereichNeuesteNachricht .ContainerBildName p{
        font-size: 0.7em;
    }

    .BereichNeuesteNachricht {
        height: 30em; 
    }

    .BereichNeuesteNachricht .profilePic{
        width:100px; 
        height: 100px; 
        border-radius:37.5px;
    }

    .BereichNeuesteNachricht .ContainerNeuesteNachricht{
        height: 200px; 
        width: 400px; 
        border-radius:37.5px; 
    }
       
}



/* Tablet, Laptop etc */
@media(min-width: 601px){
    /* Seiten navigations */    
    nav .mobile {
        display: none;
    }
    
    /* Navigation Angebotsübersicht */
    .erweitertes_Such_Navi{
        /* Größe */
        width: 20%; 
        max-width: fit-content;
        height: auto;

        /* Design */
        background-color: #74c4ff;
    }

    .erweitertes_Such_Navi ul{
        list-style-type: none;

        /* Damit die Liste keinen Abstand hat */
        margin: 0;
        padding: 0;
    }

    .erweitertes_Such_Navi a{
        display: block;
        padding: 10px 5px;
        text-decoration: none;
    }

    .erweitertes_Such_Navi a:hover{
        background-color: #5693BF;
        color: white;
    }

    .needAName .suche .suchEingabe {
        width: 400px;
    
    }

    /* Spezifische Neueste Nachricht */

    .BereichNeuesteNachricht .ContainerBildName p{
        font-size: 0.9em;
    }

    .BereichNeuesteNachricht {
        height: 39em; 
    }

    .BereichNeuesteNachricht .ContainerNeuesteNachricht{
        height: 400px; 
        width: 800px; 
        border-radius:75px; 
    }

    .BereichNeuesteNachricht .profilePic{
        width:200px; 
        height: 200px; 
        border-radius:75px;
    }
}

