#map{
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0.5px solid black;
}


#mapInfo{
    width: 100%;
    text-align: center;
}

.hidden{
display:none;
}

iframe{
    height: 410px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0.0px solid black;
}

.iframe_laden{
    height:100px;
    width: 100%;
    display: flex
}

#iframe_laden button{
    margin: auto;

    height: 30px;
    width: 40%;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 25px;

    font-size: 13.3333px;
    border: 1px solid #6E7880;
    color: black;
    font-family: Arial;
    background-color: #efefef;
    box-shadow: 9px 6px 15px #6E7880;
}