.Container_Main_Eigenes{
    background-size: 40%;
    background-position: 118% 108%;
    background-image: url("../../Bilder/hintergrund/eigenesKonto/Eigenedaten.jpg");
    background-repeat: no-repeat;

    display: flex;
    min-height: 70vh;
    width: 100%;
    
}

.Container_Main_Eigenes form{
    background-color: #dcf0ff;
    display: flex;
    margin: auto;
    width: 80%;
    max-width: 800px;
    /* 3d-Effekt*/
    border: 0.5px solid #6E7880;
    border-radius: 25px;
    box-shadow: 9px 10px 15px #6E7880;
}

.Container_Main_Eigenes form .layout{
    display: flex;
    flex-wrap: wrap;
}

.layout .Container_konto{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.layout .profil_Bild{
    display: flex;
    width: 20%;
    margin: auto
}

.layout .error{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}


.layout img{  
    margin: auto;
    border-radius: 25px;
    width: 100%;
    max-width: 175px;
}

.layout input{
    padding-left: 10px;
    width: 66%;
    height: 25px;
    margin-bottom: 5px;
    border-radius: 25px;
    border: 0.5px solid grey;
    font-size: 1.1em
}

.layout label{
    width: 30%;
    font-size: 1.1em;
}

.layout h1{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.layout button{
    height: 30px;
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;


    font-size: 13.3333px;
    border: 1px solid #6E7880;
    color: black;
    border-radius: 25px;
    font-family: Arial;
    background-color: #efefef;
    box-shadow: 9px 6px 15px #6E7880;
}

@media(max-width: 680px){
    .Container_Main_Eigenes{
        background-position: 128% -11%;
        background-size: 60%;
    }

    .Container_Main_Eigenes form .layout{
        width: 80%;
        margin: auto;
    }
    
    .layout .Container_konto{
        width: 100%;
    }

    .layout .profil_Bild{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Container_Main_Eigenes{
        min-height: 100vh;
    }

    .Container_Main_Eigenes form{
        width: 85%;
    }

    .layout input{
        width: 100%;
    }

    .layout label{
        width: 100%;
    }
}

@media(min-width:1450px){
    .Container_Main_Eigenes{
        background-position: bottom right;
        background-size: 25%;
    }
}