.Container_Main{
    width: 100%;
    height: 70vh;
    display: flex;
}


.Container_Main .nachricht{
    width: 60%;
    height: 50%;
    display: flex;
    margin: auto;
    /**/
    border: 0.5px solid #6E7880;
    border-radius: 50px;
    box-shadow: 9px 10px 40px #6E7880;
    background: #dcf0ff;
    
}

.nachricht h1{
    margin: auto;
    font-size: 1.3em;

}

@media(max-width:601px){
    .Container_Main .nachricht{
        width: 90%;        
    }

}